 :root {
    font-size: 16px;
}

 * {
     margin: 0;
     padding: 0;
   }

   
   body {

    overflow-x: hidden !important;
     background-color: #dfdfdf;
     color: #333333;
     font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
   }
   


   a {
     color: #019cdb;
     text-decoration: none;
   }

   a:hover {
     color: #48b2e8;
   }

   .header {
     border-top: solid 8px #019cdb;
     margin-bottom: 20px;
      font-family: "Rockwell Extra Bold","Rockwell Bold",monospace;
   }

   .nav {
     margin-top: 12px;
     margin-left: 10%;
   }

   .nav-item {
     list-style: none;
     display: inline;
     margin-right: 12px;
   }

   @media (max-width: 481px) { 
     

     .img-wrapper {
       width: 95%;
     }
   }

   @media (min-width: 481px) and (max-width:630px) { 
     
     .img-wrapper {
       width: 75%;
     }
   }

   @media (min-width: 630px) and (max-width:767px) {

     .img-wrapper {
       width: 65%;
     }
   }
   
   .title {
     color: #019cdb;
     text-transform: uppercase;
     letter-spacing: 3px;
   }

   .main {
     font-size: 78px;
   }

   .sub {
     font-size: 57px;
   }

   .footer-sub {
     font-size: 30px;
   }

   .button {
     border: 2px solid #019cdb;
     color: #019CDB;
     display: inline-block; 
     font-size: 20px;
     margin-top: 12px;
     padding: 12px 30px;
   }

   .button:hover {
     background-color: #008000;
     color: #dfdfdf;
     cursor: pointer;
   } 
    .circle {
     border-radius: 100%;
   }

   .flex {
    
     display: flex;         
     align-items: center;
   }

   .column {
     flex-direction: column;
   }

   .footer {
     text-align: center;
     width: 100%;
     margin-bottom: 2%;
   }

   .row {
     flex-direction: row;
   }

     .main-img {
     margin-top: -60px;
     max-width: 100%;
     height: auto;
   }

   .line {
     border-top: 1px solid #828282;
     width: 100%;
     margin-left: 1%;
     margin-right: 1%;
   }

   .main-wrapper {
     min-height: calc(100vh - 126px);
   }

   .titles {
     margin-top: -22%;
   }

   .img-wrapper {
     width: 60%;
   }

   .header2{

    border-top: solid 8px #019cdb;
    color:#333333;
    margin-bottom: 20px;
    font-family: "Impact, Charcoal", sans-serif;
    

   }

   .header3{
    font-family: Verdana,Geneva,sans-serif;
    border-top: solid 8px #019cdb;
    color: #333333;
    margin-bottom: 10px;
   }
   
   .font1{
    font-family: "Trebuchet MS", Helvetica, sans-serif 
   }